
/* 画像 */
.modalOpen .img{
    cursor:pointer;
}

/* モーダルウィンドウ */
.modal-window{
    display: none;
    position:fixed;
    z-index: 100;
    left:0%;
    top:0%;
    height:100vh;
    width: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
}

/* コンテンツ */
.modal-contents{
    background-color:#f4f4f4;
    margin:5% auto;
    width:60%;
    height:75%;
    animation-name:modalOpen;
    animation-duration:1s;
    color:black;
}

/* ヘッダー */
.modal-header{
    background:lightblue;
    display:flex;
    justify-content: center;
}

/* 閉じるボタン */
.modalClose{
    font-size: 2rem;
    position: absolute;
    right:20%;
    padding-left:10px;
    padding-right:10px;
}

/* 閉じるボタンにマウスホバーしたとき */
.modalClose:hover{
    cursor:pointer;
    background-color: red;
}

/* モーダルを開いたときのアニメーション */
@keyframes modalOpen{
    from{opacity:0}
    to{opacity:1}
}

/* モーダルを閉じるときのアニメーション */
.modal-close-anim{
    animation-name:modalCloseAnim;
    animation-duration:0.5s;
}

/* モーダルを閉じるアニメーション */
@keyframes modalCloseAnim{
    from{opacity:1}
    to{opacity:0}
}

/* モーダルの中身 */
.modal-body{
    display: flex;
    padding:20px 10px 0px 10px;
    height:100%;
}

/* モーダルのテキスト */
.modal-body .text{
    background-color: white;
    padding:5px 0px 0% 5px;
    width:100%;
    height: 55vh;
    overflow: auto;
}

/* フリーテキスト */
.modal-body .free-text{
    font-size: 12px;
    margin-right:10px;
}

/* フリーテキストと情報テキストを分けるボーダー */
.modal-body .text-border{
    border-bottom: 3px dashed rgb(184, 184, 184);
    margin-top:5%;
}

/* 情報テキスト */
.modal-body .info-text{
    margin-top:5%;
    font-size:16px;
}

/* videoタグ */
.modal-body video{
    margin-left:10px;
    width:40%;
    height:40%;
    object-fit: cover;
    right:0;
}

/* iframeタグ */
.modal-body iframe{
    margin-left:10px;
    width:70%;
    height:40%;
    object-fit: cover;
    right:0;
}

/* その他コンテンツ */
.modal-body .other{
    position: fixed;
    margin-left: 35%;
    padding-top:20%;
}

/* 評価 */
.modal-body .other .evaluate{
    font-size: 15%;
}

/* 評価画像 */
.modal-body .other .evaluate .img {
    width:3%;
    height:3%;
}

/* 評価ボタンにマウスホバーしたとき */
.modal-body .other .evaluate .img:hover {
    filter:brightness(90%);
    transition:0.1s;
}

/* プレイ画像 */
.modal-body .other .play .img{
    width:5%;
    height:5%;
}

/* ダウンロード画像 */
.modal-body .other .Downloads .img{
    width:5%;
    height:5%;
}
