/* 基本 */
#works{
    display: flex;
    flex-wrap: wrap;
    padding-left:15%;
}

/* 画像 */
#works .img{
    position: relative;
}

/* imgタグ */
#works .img img{
    position: relative;
    width:200px;
    height:200px;
    border: 5px solid #edadf3;

    transform: scale(1.0, 1.0);
    transition:0.3s all;
    filter:brightness(100%);
}

/* imgタグにマウスホバーしたとき */
#works .img img:hover{
    transform:scale(1.2, 1.2);
    transition:0.3s all;
    filter: brightness(40%);
}

/* imgタグにマウスホバーしたときのテキスト */
#works .img img:hover + .hover-text{
    opacity: 1;
}

/* ホバーテキスト */
#works .hover-text{
    position: absolute;
    opacity: 0;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    transition: opacity 0.3s;
    font-size: 20px;
    white-space: nowrap;
    pointer-events: none;
}

/* アイテム */
#works .item{
    padding-left: 1%;
    padding-right:1%;
}

/* アイテムのタイトル */
#works .item .title{
    text-align: center;
    margin-bottom:20px;
    font-size: 20px;
    font-weight: bold;
}
